.abc{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
button{
    padding: 15px;
    border-radius: 20px;
    background-color: lavender;
    cursor: pointer;
}
button:hover{
    background-color: brown;
}